/* Community Covenant ie6.css */
#content {float:right; width: 664px; margin-right: 0; padding-right: 0; margin-top:20px; position: relative;}
#content h2.block { padding: 3px 0 5px 10px; }
#events { margin:15px 15px 0; width:944px; float: none; }
#events_download{ float: right; margin-bottom: 8px; width: 300px; }
#footer{ position:relative; background: none; font-weight: bold;}
	#footer ul { border: none; padding-top: 0;}
	#footer li a { color:#e7e7e7; text-decoration:none; padding-left:10px; padding-right:10px; font-weight: bold;}
	#footer li a:hover, #footer li a:focus, #footer li a:active { color:#fff; text-decoration:underline; }
#logo {  width:361px; height:117px; z-index: 10; background:url(/e2/rv5_images/community/header/logo.gif) no-repeat; position:relative; top:20px; left:20px; }
#mission { z-index: 10; height: 320px; width: 345px; background: #000; background-image: none; filter: alpha(opacity=85); position: absolute; top: 15px; right: 15px; padding: 24px; color: #fff;}
#mission h2 { font-size:2.5em; margin-bottom:3px; }
#mission p { font-size:1.3em; line-height: 1.6em; margin-bottom: 15px;}
#sideNav h2 { height: 0.01%; }
#sideNav li a { height: 0.01%; padding: 13px 15px; margin-top: -2px;}
#sideNav li a.current, #sidebar li a.current:hover, #sidebar li a.current:focus, #sidebar li a.current:active { height: 0.01%; margin-top: -2px; }
#wrapper { position: static; }
.box_content {margin: -10px 0 0 0;}
.box_content p{ margin-bottom: 5px; }
.details li.website{ background: url(/e2/rv5_images/community/content/details_network.jpg) no-repeat left top; margin-top: 5px;}
.details li a {padding: 4px 0 5px 22px; display: block; font-size: 1.1em; word-wrap: break-word;}
.event_callout { background: url(/e2/rv5_images/community/sidebar/event_callout.gif) no-repeat;}
.items li { margin: 2px;}
.sidebar_box_top { margin-bottom: -8px; }
ul.sidebar_box li a{ width: 203px; }
.social_callout li a{ color: #fff; padding: 7px 0 0 35px; font-size: 1.4em; display: block; margin-top: 3px;}
.social_callout li a:hover, .social_callout li a:focus, .social_callout li a:active { color: #ffc933;}
.social_callout li.facebook{  background: url(/e2/rv5_images/community/f_sprite.gif) no-repeat top left; margin-bottom: 0;}
.social_callout li.twitter{  background: url(/e2/rv5_images/community/t_sprite.gif) no-repeat top left; }
