/* Community Covenant root.css */

/* 1. Reset
------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; }
:focus { outline:0; }
body { background:#fff; color:#000; line-height:1; }
ol,ul { list-style:none; }
html,body { height:100%; }

/* 2. Elements
------------------------------------*/
body { font-family:Trebuchet MS, Futura, Helvetica, Arial, sans-serif; background:#7a7a7a url(/e2/rv5_images/community/bg/bg_gradient.gif) repeat-x; color:#3d3d3d; }
a { color:#3d3d3d; text-decoration:none; font-weight:bold; }
a:hover, a:focus, a:active { color:#7b8738; }
h1,h2,h3,h4,h5,h6 { font-weight:bold; }
h1 { }
img { border:1px solid #3d3d3d; }
p { font-size:1.4em; line-height:1.6em; margin-bottom:25px; }

/* 3. ID's
------------------------------------*/
#bestPractices h3{ background:#e3e3e3; padding:5px 7px; border:1px solid #aeaeae; margin-top:10px; font-size:1.4em; font-weight:bold; display: block; }
#bestPractices h3.dark { background:#3d3d3d; color: #fff; padding: 8px; border:none; margin-top:10px; font-size:1.4em; text-transform: uppercase; font-weight:normal; display: block; }
#bestPractices h4{ background:#e3e3e3; padding:5px 7px; border:1px solid #aeaeae; margin-top:10px; font-size:1.4em; font-weight:bold; display: block; }
#bestPractices li { background:url(/e2/rv5_images/community/li_arrow.gif) no-repeat scroll 0 9px; font-size:1.3em; margin-left:10px; padding:5px 0 5px 15px; line-height:1.4em; }
#bestPractices p { margin-left: 10px; font-size: 1.3em; margin-top: 8px; }
#billboard { height:368px; background:#000; margin:15px 15px 0; width:944px; display:block; overflow:hidden; }
#billboard li { height:368px; width:944px;}
#billboard li img { border:none; }
#container { margin:0 auto; font-size:62.5%; padding:0; overflow:auto; width:990px; }
#containerBottom { height:28px; width:976px; margin:0 auto; background:url(/e2/rv5_images/community/content/content_bottom.gif) no-repeat;}
#contentContainer { width:959px; padding-right: 15px; overflow:hidden; padding-bottom:45px; position:relative; margin:0 auto; background:#f7f7f7; border-left:1px solid #646464; border-right:1px solid #646464;}
#content { width:664px; float:right; margin-top:20px; }
#content h2 { margin-top:10px; font-size:2.5em; padding-bottom:5px; margin-bottom:5px; border-bottom:1px dashed #aeaeae; font-weight:bold; }
#content h2.block, #content h3.block { clear:both; color:#fff; padding:8px; text-transform:uppercase; font-size:1.4em; margin-bottom:5px; border-bottom:none; font-weight:normal; }
#content h3 { margin:2em 0 1em 0; font-size:2.5em; padding-bottom:.5em; font-weight:bold; border-bottom:1px dashed #aeaeae; }
#events { margin:15px 15px 0; width:944px; float: left;}
#events h2 { margin-top:10px; font-size:2.5em; padding-bottom:5px; margin-bottom:5px;  font-weight:bold; float: left;}
#events_download { float: right; margin-bottom: 8px;}
#events_download p { font-size: 1.1em; margin-bottom: 0; }
#external_news h3 { background:#e3e3e3; padding:5px 7px; border:1px solid #aeaeae; margin-top:10px; font-size:1.4em; font-weight:bold; display: block; }
#external_news li { background:url(/e2/rv5_images/community/li_arrow.gif) no-repeat scroll 0 9px; font-size:1.3em; margin-left:10px; padding:5px 0 5px 15px; line-height:1.4em; }
#faq h3{ background:#e3e3e3; padding:5px 7px; border:1px solid #aeaeae; margin-top:10px; font-size:1.4em; font-weight:bold; display: block; }
#faq p{ margin-left: 20px; font-size: 1.3em; margin-bottom:15px; margin-top: 10px;}
#faq a {text-decoration:underline;}
#flashcontent { width:664px; height:625px; }
#footer { height:40px; position:relative; background:#3d3d3d; color:#f7f7f7; font-size:.7em; padding-top:5px; min-width: 990px;}
#footer ul { text-align:center; border-top:1px dashed #666; padding-top:10px; }
#footer li { display:inline; }
#footer li a { color:#d7d7d7; text-decoration:none; padding-left:10px; padding-right:10px; }
#footer li a:hover, #footer li a:focus, #footer li a:active { color:#fff; text-decoration:underline; }
#header { height:152px; }
#headerStar { display:block; position:relative; top:0; left:0; width:90px; height:110px; text-indent:-9999px; }
#logo { display:block; width:361px; height:117px; background:url(/e2/rv5_images/community/header/logo.png) no-repeat; position:relative; top:20px; left:20px; }
#mission { z-index:10; height:320px; width:345px; background:url(/e2/rv5_images/community/billboard/mission_bg.png) repeat; position:absolute; top:15px; right:15px; padding:24px; color:#fff; }
#mission h2 { font-size:2.5em; margin-bottom:7px; }
#mission p { font-size:1.3em; margin-bottom: 15px;}
#moreTops { float:left; padding-bottom:.6em; }
#moreTops li { padding:0 14px 10px; margin:10px 0; border-left:1px solid #C3C3C3; display:inline; float:left; height:22em; position:relative; width:192px; }
#moreTops li.first { border:none; }
#moreTops h3 { font-size:1.4em; line-height:1.2em; padding-bottom:5px; }
#moreTops p { font-size:1.2em; }
#moreTops img { position:absolute; bottom:10px; margin-left:10px; }
#sidebar { width:278px; background:url(/e2/rv5_images/community/sidebar/sidebar_gradient_bg.gif) repeat-y left; padding-top:20px; float:left;}
#sidebar h2 { padding-left:15px; font-weight:bold; }
#sidebar h3 { margin-left:15px; width:205px; background:#3d3d3d; color:#fff; padding:2px 5px 8px 15px; font-size:1.5em; }
#sidebarBottom { height:41px; width:278px; background:url(/e2/rv5_images/community/sidebar/sidebar_gradient_bottom.gif) no-repeat left bottom; padding-top:50px; clear:both; }
#sideNav h2 { color:#9b9b9b; text-transform:uppercase; font-size:1.6em; padding-left:15px; padding-right:15px; background:url(/e2/rv5_images/community/sidebar/sidebar_line.gif) repeat-x 0 bottom; padding-bottom:12px; margin-right:23px; letter-spacing:0; margin-bottom:0; }
#sideNav li a { display:block; background:url(/e2/rv5_images/community/sidebar/sidebar_line.gif) repeat-x 0 bottom; font-size:1.3em; padding:14px 15px; text-decoration:none; margin-right:23px; font-weight:bold; }
#sideNav li a:hover, #sideNav li a:focus, #sideNav li a:active { background:#f7f7f7; }
#sideNav li a.current, #sidebar li a.current:hover, #sidebar li a.current:focus, #sidebar li a.current:active { background:url(/e2/rv5_images/community/sidebar/sidebar_li_current.gif) no-repeat left center; width:263px; color:#fff; font-weight:normal; padding-right:0; margin-right:0; }
#topStory { float:left; }
#topStory img { float:left; }
#topStoryRight { float:left; padding:0 10px; width:294px; }
#topStoryRight h3 { font-size:1.6em; font-weight:bold; line-height:1.2em; padding:8px 0; }
#topStoryRight p { font-size:1.3em; margin-bottom:5px; }
#twitter_div ul { margin-left:15px; margin-right:15px; }
#twitter_div li { font-size:1.3em; border-bottom:1px dashed #666; padding-top:8px; padding-bottom:8px; margin-left:0; overflow:hidden;}
#twitter_div li a { color:#ccc; display:inline; padding:0; font-size:1.1em; }
#twitter_div li a:hover, #twitter_div li a:focus, #twitter_div li a:active { color:#ffc933; }
#twitter_div a.button { margin:8px 15px 0; }
#wrapper { background:url(/e2/rv5_images/community/header/header_bg.jpg) repeat-x; position:relative; min-height:100%; height:auto; margin-bottom:-45px; }

/* 4. Classes
------------------------------------*/
a.button { background:transparent url(/e2/rv5_images/community/button/button_right.gif) no-repeat scroll right top; display:block; height:27px; padding-right:30px; text-decoration:none; line-height:27px; font-size:13px; font-weight:normal; font-style:normal; }
a.button span { background:transparent url(/e2/rv5_images/community/button/button_left.gif) no-repeat; display:block; padding-left:15px; padding-right:20px; /* adjust size */
white-space:nowrap; color:#fff; line-height:27px; }
a.button:hover, a.button:focus, a.button:active { background-position:right -27px; cursor:pointer; }
a.button:hover span, a.button:focus span, a.button:active span { background-position:0 -27px; cursor:pointer; }
.archives { font-size: 1.2em; float: right; margin-top: 10px; margin-right: 14px; text-align: right; width: 650px; display: inline;}
.bottom { width:100%; height:24px; background:url(/e2/rv5_images/community/details/bottomleft.gif) no-repeat left bottom; margin-bottom:10px;}
.bottom span { display:block; position:relative; height:24px; background:url(/e2/rv5_images/community/details/bottomright.gif) no-repeat right top; }
.box_content { position:relative; background:url(/e2/rv5_images/community/details/right_side.gif) repeat-y right top; padding:3px 15px 0; margin:0; }
.box_content p { margin-bottom:8px; }
.box_side { background:#fff url(/e2/rv5_images/community/details/left_side.gif) repeat-y left top;}
.clear { clear:both; }
.clearfooter { height:50px; clear:both; }
.dark-gray { background:#3d3d3d; }
.details { width:180px; float:right; margin-left:15px; margin-top:5px; }
.details h3 { border-bottom:1px dashed #aeaeae; text-transform:uppercase; color:#9b9b9b; font-size:1.6em; font-weight:bold; letter-spacing:0; margin-bottom:5px; padding-bottom:3px; }
.details li.website { background:url(/e2/rv5_images/community/content/details_network.jpg) no-repeat left center; }
.details li a { padding:8px 0 9px 22px; display:block; font-size:1.1em; word-wrap:break-word; }
.details_home { width:327px; float:left; margin-top:5px; }
.details_home h3 { font-size:1.9em; font-weight:bold; letter-spacing:0; margin-bottom:5px; color:#606a2c; padding-top: 0; padding-bottom:5px;}
.details_home p { margin-bottom:5px; font-size:1.2em; }
.details_national { width:200px; float:left; margin-top:5px; }
.details_national h3 { font-size:1.6em; font-weight:bold; letter-spacing:0; margin-bottom:5px; color:#606a2c; }
.details_national p { margin-bottom:5px; font-size:1.2em; }
.states { float: left; margin-right: 8em;}

/*Letters from Hollywood*/
#content h2.letter-from-hollywood { text-indent: -9999px; display: block; background: url(/e2/rv5_images/community/hollywood_letters/letter_header.gif) no-repeat; width: 664px; height: 40px; border: none; }
#hollywood_letters h3{background:#e3e3e3; padding:5px 7px; border:1px solid #aeaeae; margin-top:10px; margin-bottom: 5px; font-size:1.4em; font-weight:bold; display: block;}
#hollywood_letters h3 span{ font-size:0.8em; line-height: 1.3em; font-weight:normal; font-style: italic; display: block; margin: 5px 10px 0 10px;}
.letterBlock{ display: block; clear: both;}
.sidebar_box_hollywood { background: url(/e2/rv5_images/community/hollywood_letters/sidebar_box_header2.gif) no-repeat; height: 33px; width: 225px; display: block; margin-left:15px; margin-top:10px;}
.sidebar_box_hollywood h2 a { display: block; height: 33px; width: 225px; text-indent: -9999px; }
.details_letters{width:180px; float:right; margin-left:15px; margin-top:5px;}
.details_letters h4 { border-bottom:1px dashed #aeaeae; text-transform:uppercase; color:#9b9b9b; font-size:1.6em; font-weight:bold; letter-spacing:0; margin-bottom:5px; padding-bottom:3px; }
.details_letters li.website { background:url(/e2/rv5_images/community/content/details_network.jpg) no-repeat left center; }
.details_letters li a { padding:8px 0 9px 22px; display:block; font-size:1.1em; word-wrap:break-word; }
#share {background:#fff; border-left:#aeaeae 1px solid; border-right:#aeaeae 1px solid; margin-bottom:0; margin-left:15px; width:223px; text-indent: -9999px; height: 38px;}
#share ul{margin-left: 8px; padding-top: 5px;}
#share li {display: inline;}
#facebook, #twitter, #myspace, #digg, #google { float: left;height: 38px; background: url(/e2/rv5_images/community/hollywood_letters/sm.jpg) no-repeat; display: block;}
#facebook{ width: 40px; background-position: 0 0;}
#facebook:hover, #facebook:focus, #facebook:active{ background-position: 0 -38px; }
#twitter{ width: 42px; background-position: -40px 0}
#twitter:hover, #twitter:focus, #twitter:active{ background-position: -40px -38px }
#digg{ width: 42px; background-position: -82px 0 }
#digg:hover, #digg:focus, #digg:active{ background-position: -82px -38px; }
#myspace{width: 41px; background-position: -124px 0}
#myspace:hover, #myspace:focus, #myspace:active{background-position: -124px -38px;}
#google{width: 40px; background-position: -165px 0}
#google:hover, #google:focus, #google:active{background-position: -165px -38px;}
/*End Letters from Hollywood*/

.event_callout { margin-top:30px; background:#ffc933 url(/e2/rv5_images/community/sidebar/event_callout.gif) no-repeat; display:block; width:255px; height:87px; }
.event_callout h2 { color:#1a1a1a; padding-top:15px; font-size:1.9em; margin-bottom:8px; }
.event_callout a.button { margin-left:15px; margin-right:90px; } 
.hide { position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;}
.skip2 a { display: block; position: absolute; left: -10000px; top: auto; width: 100%; height: 3em; font-weight: bold; text-align: center; font-size:1.5em; color: #000;} 
.skip2 a:active, .skip2 a:focus { background: #999; position: static; width: auto; height: auto; padding: 1em; margin: auto;}
.items { padding-bottom: 0.6em; width: 664px;}
.items li { height: 245px; border: 1px solid #aeaeae; float: left; margin: 3px; padding: 3px; position: relative; width: 152px; background: #fff;}
.items h3, .items h4 { font-size:1.4em; line-height:1.2em; padding:5px 3px; }
.items p { font-size: 1.1em; margin-bottom: 0; padding: 0 3px;}
.items a.button { margin: 0 3px; position: absolute; bottom: 5px; width: 114px;} 
.items_resources { padding-bottom: 0.6em; width: 664px;}
.items_resources li { height: 330px; border: 1px solid #aeaeae; float: left; margin: 3px; padding: 3px; position: relative; width: 152px; background: #fff;}
.items_resources h3, .items_resources h4  { font-size:1.4em; line-height:1.2em; padding:5px 3px; }
.items_resources p { font-size: 1.1em; margin-bottom: 0; padding: 0 3px;}
.items_resources a.button { margin: 0 3px; position: absolute; bottom: 5px; width: 114px;}
.left { float:left; margin-right:10px; }
.marg-left { margin-left:10px; }
.nobrdr { border:none; }
.programBlock { clear: both; }
.quoteCaption { font-size: 0.8em; margin-left: 300px; line-height: 1.2em; margin-top: 15px;}
.quoteContainer {height: 195px; font-family:Georgia, Times, Serif; font-style:italic; line-height: 1.4em; font-size: 1.5em; background: #fff; border: 1px solid #aeaeae;}
.quoteContainer li { padding: 8px 15px 0 15px; }
.sidebar_box_top { background:url(/e2/rv5_images/community/sidebar/sidebar_box_top.gif) no-repeat; height:8px; margin-left:15px; margin-top:25px; }
.sidebar_box_content { background:#fff; border-left:#aeaeae 1px solid; border-right:#aeaeae 1px solid; margin-bottom:0; margin-left:15px; width:193px; padding:10px 15px 5px; }
ul.sidebar_box { background:#fff; border-left:#aeaeae 1px solid; border-right:#aeaeae 1px solid; margin-bottom:0; margin-left:15px; width:223px; }
ul.sidebar_box li a { background:none; display:block; font-size:1.2em; padding-top:8px; padding-bottom:8px; text-decoration:none; font-weight:bold; width:205px; padding-left:10px; padding-right:10px; }
ul.sidebar_box li p { background:none; display:block; font-size:1.2em; padding-top:8px; padding-bottom:8px; text-decoration:none; font-weight:bold; width:205px; padding-left:10px; padding-right:10px; margin-bottom: 0px; }
.sidebar_box_bottom { background:url(/e2/rv5_images/community/sidebar/sidebar_box_bottom.gif) no-repeat; height:8px; margin-left:15px; }
.small { font-size: 1.1em; margin-bottom: 0; }
.social_callout_top { width:255px; background:url(/e2/rv5_images/community/sidebar/social_callout_top.gif) no-repeat; height:36px; margin-top:30px; }
.social_callout_top h2 { color:#3d3d3d; background:none; padding-top:5px; font-size:1.9em; }
.social_callout { width:255px; background:#3d3d3d url(/e2/rv5_images/community/sidebar/social_callout_bg.gif) repeat-y; overflow:hidden; padding-top:10px; }
.social_callout li { color:#fff; line-height:1.5em; margin-left:15px; }
.social_callout li a { color:#fff; padding:5px 0 5px 35px; font-size:1.4em; display:block; }
.social_callout li a:hover, .social_callout li a:focus, .social_callout li a:active { color:#ffc933; }
.social_callout li.facebook { background:url(/e2/rv5_images/community/f_sprite.gif) no-repeat center left; margin-bottom:10px; }
.social_callout li.twitter { background:url(/e2/rv5_images/community/t_sprite.gif) no-repeat center left; }
.social_callout_bottom { width:255px; background:url(/e2/rv5_images/community/sidebar/social_callout_bottom.gif) no-repeat; height:10px; }
.sub_content { margin-left:5px; }
.sub_content li { background:url(/e2/rv5_images/community/li_arrow.gif) no-repeat scroll 0 9px; font-size:1.3em; margin-left:10px; padding:5px 0 5px 15px; line-height:1.4em; }
.sub_content h4 { background:#e3e3e3; padding:5px 7px; border:1px solid #aeaeae; margin-top:10px; font-size:1.4em; font-weight:bold; display: block; }
.sub_content h4 a.accordion{ background:#e3e3e3; padding:5px 7px; border:1px solid #aeaeae; margin-top:10px; font-size:1.4em; font-weight:bold; display: block; }
.sub_content h4 a.accordion:hover, .sub_content h4 a.accordion:focus, .sub_content h4 a.accordion:active { color: #3d3d3d; background: #ccc; }
.sub_content p { margin-left: 10px; font-size: 1.3em;}
.top { width:100%; height:6px; background:url(/e2/rv5_images/community/details/topleft.gif) no-repeat left top; }
.top span { display:block; position:relative; height:6px; background:url(/e2/rv5_images/community/details/topright.gif) no-repeat right top; }

/* NEW STUFF */
.stories {
  position: relative;
  margin-bottom: 70px;
}

#content .stories .storyBlock h3 {
  font-size:1.4em;
  font-weight:bold;
  line-height:1.2em;
  border-bottom:none;
}

#content .stories .storyBlock p {
  font-size:1.2em;
}

.stories div:first-child { 
  clear:both;
  float:left;
  padding:12px 0;
  width:664px;
  display:block;
}

.stories div:first-child img { 
  margin: 0 15px 0 0;
  width: 317px;
  float:left;
  clear:left;
}

#content .stories div:first-child h3 { 
  float: right;
  width: 317px;
  padding: 0;
  margin: 0 0 15px 0;
  font-size:16px;
}

#content .stories div:first-child p { 
  float: right;
  width: 317px;
  padding: 0;
  margin: 0;
  font-size: 13px;
}

#content .stories .storyBlock p:first-of-type { 
  display: none;
}

.stories div:nth-child(2), .stories div:nth-child(3), .stories div:nth-child(4) { 
  display: table-cell;
  position: relative;
  height:auto;
  clear:both;
  padding:12px 15px;
  width:191px;
}

.stories div:nth-child(2), .stories div:nth-child(3) {
  border-right:1px solid #c3c3c3;
}

#content .stories div:nth-child(2) h3, #content .stories div:nth-child(3) h3, #content .stories div:nth-child(4) h3 { 
  position: relative;
  margin: 0 0 15px;
  padding: 0;
}

#content .stories div:nth-child(2) p, #content .stories div:nth-child(3) p, #content .stories div:nth-child(4) p { 
  position: relative;
  margin: 0;
}

.stories div:nth-child(2) img, .stories div:nth-child(3) img, .stories div:nth-child(4) img { 
  position: relative;
  top: 0;
  margin: 0 auto 15px;
  display: block;
  width: 150px;
  height: auto;
}

#archives {
  display: none;
}

/*-------------- Social Widget CSS --------------*/
#addThis a { color:#fff; }
#addThis h2,#shareClose { display:none; }
#addThis { letter-spacing:0; font-size: .9em; font-weight:bold; width:734px; margin:0 auto 2.5em;  text-align:left; padding:7px; }
#addThis ul { display:block; float:left; list-style:none outside none; width:100%; margin:0; padding:2px 0; }
#addThis li { float:left; width:16.1%; margin:2px 0 2px 4px; padding:0; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.share_sprite .textLink { float:left; margin-left:23px; width:100px; display:block; }
.share_sprite { display:inline; float:left; height:16px; width:16px; margin:4px; }
#tops .share_sprite .textLink { width:100px; }

.facebook { background:url(/e2/rv5_images/main/addThis-sprite.png) 0 0 no-repeat; }
.twitter { background:url(/e2/rv5_images/main/addThis-sprite.png) 0 -16px no-repeat; }
.googleplus { background:url(/e2/rv5_images/main/addThis-sprite.png) 0 -32px no-repeat; }
.pinterest { background:url(/e2/rv5_images/main/addThis-sprite.png) 0 -48px no-repeat; }
.stumbleupon { background:url(/e2/rv5_images/main/addThis-sprite.png) 0 -64px no-repeat; }
.reddit { background:url(/e2/rv5_images/main/addThis-sprite.png) 0 -80px no-repeat; }
.linkedin { background:url(/e2/rv5_images/main/addThis-sprite.png) 0 -96px no-repeat; }
.all { background:url(/e2/rv5_images/main/addThis-sprite.png) 0 -112px no-repeat; }
.share_sprite .textLink:hover,.share_sprite .textLink:focus,.share_sprite .textLink:active { color:#fff; cursor:pointer; }

#addThis ul li a { width:100%; }
#addThis ul li:hover a, #addThis ul li:focus a, #addThis ul li:active a { color:#fff; }
#addThis ul li:hover,, #addThis ul li:focus, #addThis ul li:active { background-color:#3d3d3d; }

/*-------------- /Social Widget CSS --------------*/

/* 5. Print
------------------------------------*/

/* 6. Handheld
------------------------------------*/

/* 7. Debug
------------------------------------*/

/* Un-comment for site testing
*[style], font, center {outline: 5px solid red;}
img[alt=""] {border: 3px solid red;}
img[title=""] {border: 3px dotted fuchsia;}
img:not([alt]) {border: 5px solid red;}
img:not([title]) {outline: 5px solid fuchsia;}
table[summary=""] {outline: 3px solid red;}
table:not([summary]) {outline: 5px solid red;}
th {border: 2px solid red;}
th[scope="col"], th[scope="row"] {border: none;}
a[href]:not([title]) {border: 5px solid red;}
a[title=""] {outline: 3px dotted red;}
a[href=""] {background: fuchsia;} */
